{% extends 'back_base.html' %}
{% load static %}
{% block title %}{{ block.super }} All Users {% endblock title %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>TSYDA Members List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">All Users</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-12">          
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">All Users</h3>
            </div>
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name/Username</th>
                  <th>Email</th>
                  <th>Photo</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                
                <tr>
                  <td>{% if user.first_name and user.last_name %}<a href="{{ user.get_absolute_url }}">{{ user.get_full_name }}</a> {% else %} <a href="{{ user.get_absolute_url }}">{{ user.username }}</a> {% endif %}</td>
                  <td>{% if user.email %}{{ user.email }} {% else %} No email {% endif %}</td>
                  <td>Some text </td>
                  <td> 4</td>
                  <td>
                    <a href="{{ user.get_absolute_url }}"><i class="nav-icon fas fa-eye"></i></a> &nbsp;
                    <a href=""><i class="nav-icon fas fa-edit" style="color: orange"></i></a> &nbsp;
                    <a href=""><i class="nav-icon fas fa-trash" style="color: red"></i></a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                <!-- <tfoot>
                <tr>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                </tr>
                </tfoot> -->
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>  
  {% block data_table %}
  
  {% endblock data_table %}

{% endblock content %}