
<div class="col-md-4 mt-sm-30">
    <div class="sidebar">
        <aside class="widget widget_search mb-0">
            <form>
                <input type="text" value="" class="form-control" name="s" id="s" placeholder="Search">
                <button class="search-button" type="submit"><span class="fas fa-search"></span></button>
            </form>
        </aside>
    </div>
    
    <!--<div class="sidebar">
        <div class="widget text-center">
            <h4 class="text-uppercase f-17">About me</h4>
            <img src="images/client/img-1.jpg" class="d-block mx-auto img-fluid" alt="img-missing">
            <p class="mt-3">If you use this site regularly and would like to help keep the site on the Internet.</p>
            <a href="#" class="btn btn-custom mt-2">Read more <i class="mdi mdi-arrow-right"></i></a>
            <div class="text-center mt-4">
                <ul class="list-unstyled footer-social-icon">
                    <li class="list-inline-item"><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="vimeo"><i class="fab fa-vimeo-v"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="dribbble"><i class="fab fa-dribbble"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>-->

    <div class="sidebar">
        <div class="widget">
            <h4 class="text-uppercase text-center f-17">Letest Posts</h4>
            <div class="widget_recent_entries_custom">
                <ul class="">
                    <li class="clearfix">
                        <div class="wi">
                            <a href="#"><img src="images/blog/side-1.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <div class="wb"><a href="#">Beautiful Day With Friends..</a> <span class="post-date"><i class="far fa-calendar-check"></i> January 01, 2019</span></div>
                    </li>
                    <li class="clearfix">
                        <div class="wi">
                            <a href="#"><img src="images/blog/side-2.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <div class="wb"><a href="#">Nature valley with cooling..</a> <span class="post-date"><i class="far fa-calendar-check"></i> January 01, 2019</span></div>
                    </li>
                    <li class="clearfix">
                        <div class="wi">
                            <a href="#"><img src="images/blog/side-3.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <div class="wb"><a href="#">15 Best Healthy and Easy Salad..</a> <span class="post-date"><i class="far fa-calendar-check"></i> January 01, 2019</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- <div class="sidebar">
        <div class="widget">
            <h4 class="text-uppercase text-center f-17">Instagram</h4>
            <div class="widget-grid">
                <div class="item">
                    <a href="#">
                        <img src="images/blog/side-1.jpg" alt="img-missing" class="img-fluid mx-auto d-block">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="images/blog/side-2.jpg" alt="img-missing" class="img-fluid mx-auto d-block">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="images/blog/side-3.jpg" alt="img-missing" class="img-fluid mx-auto d-block">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="images/blog/side-4.jpg" alt="img-missing" class="img-fluid mx-auto d-block">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="images/blog/side-5.jpg" alt="img-missing" class="img-fluid mx-auto d-block">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="images/blog/side-6.jpg" alt="img-missing" class="img-fluid mx-auto d-block">
                    </a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="sidebar">
        <div class="widget">
            <h4 class="text-uppercase text-center f-17">Tags</h4>
            <div class="tagcloud">
                <a href="#">Business</a>
                <a href="#">Finance</a>
                <a href="#">Marketing</a>
                <a href="#">Fashion</a>
                <a href="#">Bride</a>
                <a href="#">Lifestyle</a>
                <a href="#">Travel</a>
                <a href="#">Beauty</a>
                <a href="#">Video</a>
                <a href="#">Audio</a>
            </div>
        </div>
    </div> -->
    
    <!-- <div class="sidebar">
        <div class="widget">
            <h4 class="text-uppercase text-center f-17">Newsletter</h4>
            <div>
                <p>Sign up to receive content updates and product roundups!</p>
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="email" name="email" id="email1" class="form-control" placeholder="Your Email" required>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <input type="submit" id="submit1" name="send" class="btn btn-outline-white w-100" value="subscribe">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <!-- <div class="sidebar mb-0">
        <div class="widget">
            <h4 class="text-uppercase text-center f-17">Subscribe & Follow</h4>
            <div class="text-center">
                <ul class="list-unstyled footer-social-icon">
                    <li class="list-inline-item"><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="vimeo"><i class="fab fa-vimeo-v"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="dribbble"><i class="fab fa-dribbble"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div> -->
</div>